<!-- inherit from base.html-->
{% extends "base.html" %}

{% block content %}

    <h1>Hello World!</h1>

    <h2>Links</h2>
    <ul>
        <li><a href="/new_service/">Add a DNS Provider Service</a></li>
        <li><a href="/new_record/">Monitor a new Record</a></li>
    </ul>

    <h2>Test Service Info</h2>
    <p>Name: {{ test_service.name }}</p>
    <p>Provider: {{ service_data.provider_name }}</p>
    <p>Zone ID: {{ service_data.zone_id }}</p>
    <p>Methods: </p>
    <p>get_records: {{ service_methods.0 }}</p>
    <p>update_record: {{ service_methods.1 }}</p>
    <p>Raw Data: <br> {{ test_service.service_data }}</p>

    <h2>All Monitored Records:</h2>
    <table class="table">
    <thead>
        <tr>
            <th>Service</th>
            <th>Name</th>
            <th>Dynamic</th>
            <th>Source of Truth</th>
            <th>Interval</th>
        </tr>
    </thead>
    <tbody>
    {% for record in monitored_records %}
        <tr>
            <td>{{ record.service }}</td>
            <td>{{ record }}</td>
            <td>{{ record.dynamic_source_of_truth }}</td>
            <td>{{ record.source_of_truth }}</td>
            <td>{{ record.interval }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

    <h2>All Services</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Provider</th>
                <th>Service Data</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service }}</td>
                <td>{{ service.provider }}</td>
                <td>{{ service.service_data }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>

{% endblock %}