<!-- inherit from base.html-->
{% extends "base.html" %}

{% block title %}
    <title>DNSAutocorrect - Home</title>
{% endblock %}

{% block content %}

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">DNSAutocorrect</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'new_record' %}">New Record</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'new_service' %}">New Service</a>
                    </li>
                </ul>
                <div class="dropdown nav-item">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.username }}
                    </a>
                    <ul class="dropdown-menu-end dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="m-1">
                            <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn">Log Out</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>




    <h1>Home</h1>

    <h2>Records</h2>
    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Service</th>
                <th scope="col">Source of Truth</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
                <tr>
                    <td><p><strong>{{ record.name }}</strong></p></td>
                    <td>
                        <p>{{ record.service }}</p>
                    </td>
                    <td>
                    {% if record.dynamic_source_of_truth %}
                        <p>Dynamic</p>
                    {% else %}
                        <p>{{ record.source_of_truth }}</p>
                    {% endif %}
                    </td>

                    <td>
                        <a class="btn btn-primary">Perform Check</a>
                        <a class="btn btn-primary">Edit</a>
                        <a class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}